h1 {
    color: red;
    background-image: url("https://cdn-grid.fotosearch.com/CSP/CSP280/paw-prints-stock-illustration__k2803967.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}